<h1> Sign In </h1>

<form method="post" action="/session">
  <label for="email">
    Email:<br>
    <input type="email" name="email" required /><br><br>
  </label>
  <label for="password">
    Password:<br>
    <input type="password" name="password" required /><br><br>
  </label>
  <input type="submit" value="Sign In"/>
</form>
