<h1> Password recovery </h1>

<form action="/users/recover" method="post">
  <label for="email">
    Please enter your email address<br>
    <input type="email" name="email" required />
  </label>
  <input type="submit" value="Submit" />
</form>
