<h1> Please enter a new password </h1>

<form method="post" action='/users'>
  <input type="hidden" name="_method" value="patch">
  <label for="password">
    Password:<br>
    <input type="password" name="password" required />
    <br>
    <br>
  </label>
  <label for="password_conf">
    Confirm Password:<br>
    <input type="password" name="password_conf" required />
    <br>
    <br>
  </label>
  <input type="submit" value="Submit" />
</form>
